#Stormy {
  margin-right: 20px;
}

body {
  background-color: #90A7EA;
  text-align: center;
}

#p {
  text-align: center;
  font-weight: bold;
}

h1 {
  text-align: center;
  font-size: 60px;
}

#logo-thing {
  font-family: Vollkorn SC;
  background-color: #5A6EA8;
  text-align: center;
  font-size: 35px;
}

.image-edit {
  border: 5px solid #5A6EA8;
  text-align: center;
  margin-right: 20px;
}

#spincat1 {
  float: left;
}

#spincat2 {
  float: right;
}

.spin {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 3000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 3000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#TOC {
  text-align: left;
  position: fixed;
  z-index: 3;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul li {
  float: left;
  width: 200px;
  height: 40px;
  background-color: #111;
  opacity: .8;
  color: white;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
}

ul li a {
  text-decoration: none;
  color: white;
  display: block;
}

ul li a:hover {
  background-color: #5A6EA8;
}

ul li ul li {
  display: none;
}

ul li:hover ul li {
  display: block;
}

.paragraph {
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}

h1, h2, h3 {
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
}

#github {
  background-color: #5A6EA8;
  margin-bottom: 0px;
}

#favtable {
  text-align: left;
  margin-left: 40%;
  font-size: 27px;

}

td {
  padding: 10px;
}

#date {
  margin-top: 0px;
  background-color: #5A6EA8;
  color: white;
}

p {
  font-size: 25px;
}

h3 {
  30px
}

table {

}
